.wrapper {
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 20px;
    min-height: 150px;
    max-width: 250px;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.05);
}
.wrapper input {
    background-color: #d9e8ee;
    border-radius: 6px;
    border: none;
}

.wrapper button {
    background-color: #99bef6;
    border-radius: 6px;
    border: none;
}