.wrapper {
    position: relative;
}
.item {
    margin: 10px 10px;
    padding: 5px;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.12);
    background-color: rgba(238, 238, 238, 0.42);
    border-radius: 5px;
    overflow: auto;
    max-width: 200px;
}
.left {
    text-align: left;
    margin-rigth: 75% ;

}
.right {
    text-align: right;
    margin-left: 75% ;

}