.dialogs {
    padding: 0px;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.05);
    border-radius: 10px;
    background-color: #efefef;
    height: 700px;
    display: grid;
    grid-template-columns: 3fr 10fr;
    grid-gap: 10px;
}
.dialog {
    background-color: #ffffff;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.05);
    border-radius: 10px;
    padding: 0 10px 0 10px;
}
.active {
    color: #e078f1;

}

.windowMessage {
    position: relative;
    border-radius: 10px;
}
.messages {
    background-color: #ffffff;
    position: relative;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.05);
    border-radius: 10px;
    padding: 5px;
    max-height: 600px;
    overflow: scroll;
    overflow-x: hidden ;
}
.footerMessage {
    position: absolute;
    bottom: 10px;
    text-align: center;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.05);
    border-radius: 10px;
    width: 100%;
}
